{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheryians</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{% static 'home.js' %}"></script>
</head>
<body>
    <!-- <nav>
        <ul>
            <li class="list" style="float: left;"><i style="color: blue;" class="fa-solid fa-google-drive"></i> IT-Google Drive</li>
            <li class="list" style="float: left;"><i style="color: aqua;" class="fa-brands fa-python"></i> Chatgpt</li>
            <li class="list" style="float: left;"><i style="background-image: linear-gradient(orange,yellow);" class="fa-solid fa-envelope"></i> Gmail</li>
            <li class="list" style="float: left;"><i style="background-image: linear-gradient(yellow,red);" class="fa-brands fa-youtube"></i> Youtube</li>
            <li class="list" style="float: left;"><i style="color: skyblue;" class="fa-solid fa-cloud"></i> MEGA</li>
        </ul>
    </nav> -->
    <h1 id="head">🦁Sheryians Coding School</h1><br>
    <h2 class="headings">home</h2>
    <h2 class="headings" style="text-decoration: none;"><a href="{% url 'app1:course' %}">course</a></h2>
    <h2 class="headings">BootCamp</h2>
    <h2 class="headings"><a href="{% url 'app1:requestedcallback' %}">requestedcallback</a></h2>
    <button class="headings" id="sign_button"><a href="{% url 'app1:signin' %}">Signin</a></button>

    <pre id="center_tag"> We only <span style="color: aqua;">teach</span>
    what we are really 
      really good at. </pre><br>
    <pre id="get_tag">
        Get ready to <span style="color: aquamarine;">accelerate your
        career </span>with custumized course
        and issue your mark in the tech 
        industry

    </pre>
    <button id="check_button">check courses - make an effect</button>
    <pre class="pre_tags">
        25k+
    Students taught        
    </pre>
    <pre class="pre_tags">
        20+
     Instructors
    </pre>
    <pre class="pre_tags">
        431k+
     Youtube Subs
    </pre>
    <pre id="para_tag">
    We do whatever it takes to help you
    <span style="color: aquamarine;">Understands the concepts</span>
    </pre>
    <div id="division_tag"><iframe width="900px" height="500px" src="https://www.youtube.com/embed/60SRAWmMXyc" title="You Are Not Yet Ready | Placements | Open Source" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    <button id="explore_button">Explore free learning</button>
    <p id="courseoffered_tag">Courses Offered.</p>
    <div>
        <img src="{% static 'image/Front-End.webp' %}" alt="" id="first_tag" class="images_tags">
        <img src="{% static 'image/first.webp' %}" alt="" id="second_tag" class="images_tags">
        <img src="{% static 'image/second.webp' %}" alt="" id="third_tag" class="images_tags">
    </div> 
    <div>
        <div class="divisions" id="fir_div">
            <h1>Front_End Domination:Create Anything with Code</h1><br>
            <button>HINDI</button><br><br><br>
            <h2 style="color: aqua;">Limited Time Discount</h2><br>
            <h3>₹4999 </h3>
            <button class="off_tag">50%OFF</button>
        </div>
        <div class="divisions" id="sec_div">
            <h1>Back-EndDomination:Create Efficient Bcak-End</h1><br>
            <button>HINDI</button><br><br><br>
            <h2 style="color: aqua;">Limited Time Discount</h2><br>
            <h3>₹5999 </h3>
            <button class="off_tag">50%OFF</button>

        </div>
        <div class="divisions" id="thir_div">
            <h1>Aptitude & Reasoning for Campus Placement</h1><br>
            <button>HINGLISH</button><br><br><br>
            <h2 style="color: aqua;">Black Friday sale</h2><br>
            <h3>₹999</h3>
            <button class="offtag">33%OFF</button>
        </div>
    </div>
    <div>
        <div class="view_tag" id="fir_view">
            <button class="view">View Details</button>
        </div>
        <div class="view_tag" id="sec_view">
            <button class="view">View Details</button>
        </div>
        <div class="view_tag" id="thir_view">
            <button class="view">View Details</button>
        </div>
    </div>
    <pre id="top_tag">
    Top <span style="color: aquamarine;">Companies</span> our Students
        Working with
    </pre>
    <div id="div_tag">
        <img src="{% static 'image/companies.webp' %}" alt="" id="icons">
    </div>
    <button id="course_tag">Explore Course</button> 
    <hr>
    <div id="footer" style="border: 2px solid white;">
        <div id="data_tag" class="details_tag">
            🦁 <br><br>
            <pre>Let's connect with our socials</pre> <br>
            <i style="background-color: white;" class="fa-brands fa-youtube"></i>
        </div>
        <div id="company_tag" class="details_tag">
            <h2>COMPANY</h2><br>
            <a href="#" style="text-decoration: none;">About Us</a><br>
            <a href="#" style="text-decoration: none;">Support</a><br>
            <a href="#" style="text-decoration: none;">Privacy Policy</a><br>
            <a href="#" style="text-decoration: none;">Trems and condition</a><br>
            <a href="#" style="text-decoration: none;">Pricing and Refund</a><br>
            <a href="#" style="text-decoration: none;">Hire From Us</a><br>
            <a href="#" style="text-decoration: none;">Bug Bounty</a><br>
        </div>
        <div id="community_tag" class="details_tag">
            <h2>COMMUNITY</h2><br>
            <a href="#" style="text-decoration: none;">Inertia</a><br>
            <a href="#" style="text-decoration: none;">Discord</a><br>
        </div>
        <div id="address_tag" class="details_tag">
            <h2>Get In Touch</h2><br>
            <a href="#" style="text-decoration: none;">+91 8109161752</a><br>
            <a href="#" style="text-decoration: none;">+91 9691778470</a><br>
            <a href="#" style="text-decoration: none;">hello@sharyians.com</a><br>
            <a href="#" style="text-decoration: none;">23-B Indirapuri Sector C,Bhopel(MP),462021</a>
        </div> 
    </div>

</body>
</html>